# The Oscars

Dalton Hahn (2762306)

## Shakespearean Play Data

https://www.kaggle.com/kingburrito666/shakespeare-plays/download

## Data Visualization and Storytelling

### "What is the ratio/trend in 'airtime' that Shakespeare gives to men vs. women?"

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import math
from statistics import mean, stdev

In [2]:
df = pd.read_csv("../data/processed/genders.csv")

In [3]:
df.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine,Year,Gender
0,0,37,Henry IV,2.0,1.1.34,WESTMORELAND,"My liege, this haste was hot in question,",1597,0
1,1,38,Henry IV,2.0,1.1.35,WESTMORELAND,And many limits of the charge set down,1597,0
2,2,39,Henry IV,2.0,1.1.36,WESTMORELAND,But yesternight: when all athwart there came,1597,0
3,3,40,Henry IV,2.0,1.1.37,WESTMORELAND,"A post from Wales loaden with heavy news,",1597,0
4,4,41,Henry IV,2.0,1.1.38,WESTMORELAND,"Whose worst was, that the noble Mortimer,",1597,0

### Important Notes
* Gender column (0 = Male, 1 = Female)